<!DOCTYPE html>
<html>
     <head>
          <title>About</title>
          <link rel="icon" href="/img/weather.png">
          <link rel="stylesheet" href="/css/styles.css">
     </head>

     <Body>
          <div class="main-content">
               {{>header}}
               <p>This site was created by Henrique Nogueira.</p>
               <p>It uses data from weatherstack.com and mapbox.com</p>
               <img class="portrait" src="/img/me_2.png">
          </div>

          {{>footer}}
     </Body>

</html>