<!DOCTYPE html>
<html>
     <head>
          <title>Help</title>
          <link rel="icon" href="/img/weather.png">
          <link rel="stylesheet" href="/css/styles.css">
     </head>

     <Body>
          <div class="main-content">
               {{>header}}
               <img class="portrait" src="/img/help.png">
               <p>{{helpText}}</p>
               <a class="specialText" href="/direction">{{tipText}}</a>
               
          </div>
          

          {{>footer}}
     </Body>

</html>