body {
     color: #333333;
     font-family: Arial;
     max-width: 650px;
     margin: 0 auto;
     padding: 0 10px;

     display: flex;
     flex-direction: column;
     min-width: 100vh;
     min-height: 100vh;
}

.main-content{
     color: #333333;
     flex-grow: 1;
}

footer{
     color: #888888;
     border-top: 1px solid #bebbbb;
     margin-top: 16px;
     padding: 16px 0;
}

header {
     margin-top: 16px;
     margin-bottom: 48px;
}

h1{
     font-size: 64px;
     margin-bottom: 16px;
}

header a{
     color: #888888;
     margin: 16px;
     text-decoration: none;
}

.portrait {
     width: 250px;
}


input{
     border: 2px solid #cccccc;
     padding: 8px;
}

button{
     cursor: pointer;
     border: 1px solid #888888;
     background: #888888;
     color: white;
     padding: 8px;

}

zeh{
     cursor: all-scroll;;
     color: #098614;
     border-top: 1px solid #bebbbb;
     margin-top: 16px;
     padding: 16px 0;
}